.navigation {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 50px;
}

.button--prev {
  background-color: var(--color-card);
  font-family: var(--font-family);

  width: 100%;
  border: none;
  border-radius: 6px;
  font: caption;
  text-transform: uppercase;
}

.button--next {
  background-color: var(--color-card);
  font-family: var(--font-family);
  font-weight: 100;
  width: 100%;
  border: none;
  border-radius: 6px;
  font: caption;
  text-transform: uppercase;
}

.button--prev:hover,
.button--next:hover {
  background-color: var(--color-secondary);
  border: none;
  transition: 60ms ease-in; /*von 0.2s auf 60ms geändert */
  transform: scale(1.15); /*von 1.2 auf 1.15 geändert */
}
