@import "components/card/card.css";
@import "components/search-bar/search-bar.css";
@import "components/nav-button/nav-button.css";
@import "components/nav-pagination/nav-pagination.css";

@font-face {
  font-family: "Get Schwifty";
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/3089507/get-schwifty.woff")
    format("woff");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-primary: rgb(51, 51, 51);
  --color-secondary: rgb(235, 230, 227);
  --color-title: #29aecf;
  --color-outline: #f6f6f6;
  --color-card: yellowgreen;
  --font-family: "Cabin", sans-serif;
}

body {
  font-family: var(--font-family);
  color: var(--color-primary);
  padding: 20px;
  background-image: url(assets/galaxywallpaper3.jpg);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.title {
  margin: 5px;
  margin-top: 30px;
  padding: 15px;
  bottom: 0.8em;
  width: 100%;
  text-align: center;
  font-family: "Get Schwifty";
  font-size: 70px;
  color: var(--color-title);
  text-shadow: 0.02em 0.02em 0.02em greenyellow,
    -0.02em -0.02em 0.02em greenyellow, 0 0 0.2em greenyellow;
}

.footer {
  margin: 5px;
  margin-top: 30px;
  padding: 15px;
  bottom: 0.8em;
  width: 100%;
  text-align: center;
  font-family: "Get Schwifty";
  font-size: 25px;
  color: var(--color-title);
  text-shadow: 0.02em 0.02em 0.02em greenyellow,
    -0.02em -0.02em 0.02em greenyellow, 0 0 0.2em greenyellow;
}

/* @media (min-width: 600px) {
  .card-container {
    width: 50%;
  }
}

@media (min-width: 900px) {
  .card-container {
    width: 33.33%;
  }
}

@media (min-width: 1200px) {
  .card-container {
    width: 50%;
  }
}

@media (min-width: 1536px) {
  .card-container {
    width: 33.33%;
  }
} */
