@import "components/card/card.css";
@import "components/search-bar/search-bar.css";
@import "components/nav-button/nav-button.css";
@import "components/nav-pagination/nav-pagination.css";

@font-face {
  font-family: "RickAndMortyFont";
  src: url(fonts/WubbaLubbaDubDub.ttf) format(truetype);
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-primary: rgb(51, 51, 51);
  --color-secondary: #f6f6f6;
  --font-family: "Cabin", sans-serif;
}

body {
  font-family: var(--font-family);
  color: var(--color-primary);
  padding: 20px;
  background-image: url(assets/Large\ jpeg_Universe_Bkg_1_D.jpg);
}

main {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title {
  padding: 10px 0;
  color: white;
  font-family: "RickAndMortyFont", sans-serif;
  /* display: flex;
  flex-direction: default;
  justify-content: center; */
}

/* @media (min-width: 600px) {
  .card-container {
    width: 50%;
  }
}

@media (min-width: 900px) {
  .card-container {
    width: 33.33%;
  }
}

@media (min-width: 1200px) {
  .card-container {
    width: 50%;
  }
}

@media (min-width: 1536px) {
  .card-container {
    width: 33.33%;
  }
} */
