.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /*von space-around auf center geändert */
  margin-bottom: 10px;
  gap: 50px; /*von 30px auf 50px geändert */
}
.card {
  flex: 1 0 100px;
  max-width: 220px; /*von 200px auf 220px geändert */
  width: 100%;
  border-top-left-radius: 230px;
  border-top-right-radius: 230px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;

  /* background-color: rgba(107, 113, 145, 0.437); */
  background-color: #8133c171;
}

.card__info {
  display: grid;
  text-align: left;
  grid-template-columns: auto 1fr;
  color: var(--color-secondary);
  font-size: 13px;
}

.card__title {
  font-size: 18px;
  text-align: center;
  margin: 5px;
  margin-top: 0.1px;
  padding: 5px;
}

.card__content {
  /*color: var(--color-secondary);
  text-transform: uppercase;
  
  padding: 10px 20px 20px;
  display: grid;
  gap: 20px;
  max-width: 200px;
  font-size: 14px;*/
  color: var(--color-secondary);
  padding: 10px 20px 20px;
  display: grid;
  gap: 20px;
  font-size: 14px;
}

.card__info-description {
  text-align: right;
  font-size: 13px;
}

li {
  list-style: none;
}

.card__image {
  border-radius: 100%;
  max-width: 100%;
  height: auto;
  border: 2px solid var(--color-secondary);
}

@media (max-width: 760px) {
  .card-container {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
}

@media (max-width: 540px) {
  .card-container {
    grid-template-columns: 1fr;
  }
}

.card:hover {
  transition: 60ms ease-out; /*von ease-in zu ease-out geändert - ist irgendwie smoother wenn man schnell mit dem cursor rüberwischt */
  transform: scale(1.15); /* von 1.1 auf 1.15 geändert*/
  background-color: rgba(153, 205, 50, 0.759);
  box-shadow: 0 5px 10px rgba(153, 205, 50, 0.521);
}
