.search-bar-container {
  width: 300px;
  padding: 20px;
  margin-bottom: 30px;
}

.search-bar {
  padding: 10px 20px;
  /* background-color: var(--color-secondary); */
  background-color: rgba(49, 43, 83, 0.58);
  display: grid;
  grid-template-columns: 1fr 24px;
  border-radius: 50px;
  border: 1px solid rgba(255, 255, 255, 0.48);
  transition: transform 0.5s ease-in-out;
}

.search-bar:hover {
  transition: 100ms ease-in; /*hinzugefügt für schnelleres einblenden*/
  transform: scale(1.2);
}

.search-bar__input {
  background-color: transparent;
  border: none;
  color: var(--color-card);
  /* color: var(--color-primary); */
}

.search-bar__button {
  border: none;
  background-color: transparent;
}

.search-bar__input:focus {
  outline: none;
}

.search-bar__icon {
  width: 20px;
  /* filter: invert(); */
}
